  .users_table_container {
    max-width: 100%;
    overflow-x: scroll;
    border: 2px solid #720d0d;
  }
  
  .users_table {
    border-collapse: collapse;
    background-color: transparent;
    min-width: 100%;
  }
  
  .users_table thead,
  .users_table tbody {
    display: block;
  }
  
  .users_table thead {
    border-bottom: 2px solid #720d0d;
  }

  .users_table thead > tr {
    width: calc(100% - 17px);
  }

  .users_table tbody {
    max-height: 480px;
    overflow-x: hidden;
  }

  .users_table tr {
    display: flex;
  }

  .users_table td {
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
  }
  
  .users_table td,
  .users_table th {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 5px 10px;
    background-color: #E6E6E6;
    width: 100%;
    font-size: 12px;
    color: #3f3d3d;
    font-family: sans-serif;
    font-weight: 600;
    padding-top: 12px;
  }
 
  .users_table th {
    padding: 8px 10px;
    text-align: left;
    color: #fff;
    background-color: #1f1f1f;
    font-weight: 100;
    letter-spacing: 0.1em;
  }
 
 
  .users_table th:nth-child(2),
  .users_table th:nth-child(1),
  .users_table td:nth-child(2),
  .users_table td:nth-child(1)  {
    max-width: 2%;
    text-align: center;
  }
  
  .users_table__button{
    background: rgb(114,13,13);
    background: linear-gradient(90deg, rgba(114,13,13,1) 0%, rgba(15,38,64,1) 100%);
    color: #fff;
    letter-spacing: 0.1em;
    padding: 2px 2px;
    border: 1px solid rgba(114,13,13,1);
  }

  /*Show rows dropdown css*/
  select {
    margin: 0px 0px 5px 3px;
    width: 50px;
    padding: 5px 5px 5px 5px;
    font-size: 16px;
    border: 1px solid #999;
    height: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(/assets/down.jpg) 96% / 25% no-repeat #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
  }

  .users_select_items_label {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.1em;
    font-family: sans-serif;
  }
  
  /*Pagination CSS*/
  
  .pagination__container {
    text-align: right;
    margin: 5px 0;
  }
  .pagination {
    display: inline-block;
    margin-right: 10px;
  }
  .pagination a {
    margin-top: 2%;
    font-weight: bold;
    font-size: 14px;
    color: #333;
    float: left;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px solid #720d0d;
    border-right: none;
  }
  .pagination a:last-of-type {
    border-right: 1px solid #333;
  }
  .pagination a.active {
    background-color: #060606;
    color: #fff;
  }
  .pagination a:hover:not(.active) {
    background-color: #ddd;
  }
  
  