<div class="form-group">
    <label class="users_select_items_label" for="showRowsCount"> show rows </label>
    <select (change)="changeShowRows()" [(ngModel)]="showRowsCount" name="showRowsCount" id="showRowsCount">
        <option *ngFor="let i of showRowsOptions" value="{{i}}">{{i}}</option>
    </select>
</div>

<div class="users_table_container">
    <table class="users_table">
        <thead>
            <tr>
                <th scope="col">Action</th>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">Company</th>
                <th scope="col">Date Entry</th>
                <th scope="col">Org Num</th>
                <th scope="col">Address</th>
                <th scope="col">Zip</th>
                <th scope="col">Geo</th>
                <th scope="col">Pan</th>
                <th scope="col">Pin</th>
                <th scope="col">Status</th>
                <th scope="col">Fee</th>
                <th scope="col">Guid</th>
                <th scope="col">Date Exit</th>
                <th scope="col">Date First</th>
                <th scope="col">Date Recent</th>
                <th scope="col">Url</th>
            </tr>
        </thead>
        <tbody>
            <tr scope="row" *ngFor="let user of userProfiles">
                <td> <button class="users_table__button" type="button" (click)="postData(user.id,user.status)">send</button></td>
                <td >{{user.id}}</td>
                <td >{{user.name}}</td>
                <td >{{user.phone}}</td>
                <td >{{user.email}}</td>
                <td >{{user.company}}</td>
                <td >{{user.date_entry}}</td>
                <td >{{user.org_num}}</td>
                <td >{{user.address_1}}</td>
                <td >{{user.zip}}</td>
                <td >{{user.geo}}</td>
                <td >{{user.pan}}</td>
                <td >{{user.pin}}</td>
                <td >{{user.status}}</td>
                <td >{{user.fee}}</td>
                <td >{{user.guid}}</td>
                <td >{{user.date_exit}}</td>
                <td >{{user.date_first}}</td>
                <td >{{user.date_recent}}</td>
                <td >{{user.url}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="pagination__container">
    <div class="pagination">
        <a href="javascript:void(0);" 
            (click)="changePage(i)" 
            [class.active]="i == activePaginationButton"
            *ngFor="let i of paginationButtons"> 
            {{i}} 
        </a>
    </div>
</div>